@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #313131;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    color: orange;
}

header {
    font-size: 1.5rem;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    border: none;
    background: white;
}

form button {
    color: orange;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background: orange;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0rem;
    background: white;
    color: black;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.delete-btn, .complete-btn {
    background: orange;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 2rem;
}

.complete-btn {
    background: rgb(35, 168, 35);
}

.delete-btn {
    background: red;
}

.todo-item{
    padding: 0rem 0.5rem;
}

.fa-solid {
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    color: orange;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after{
    content: "\25BC";
    position: absolute;
    background: white;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
}

.select:hover::after{
    background: orange;
    color: white;
    transition: 0.3s;
}